nav {
    #mobile-nav-menu-button {
        width: 1.5rem;
        height: 1rem;
        position: relative;
        & span {
            position: absolute;
            width: 100%;
            height: 1px;
            background: white;
            left: 0;
            bottom: 0;
            transition: 0.25s;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: white;
            left: 0;
            transition: 0.25s;
        }
        &::before {
            top: 10%;
        }
        &::after {
            bottom: 40%;
        }

        &.active {
            &::before {
                top: 50%;
                transform-origin: center;
                transform: rotate(45deg);
            }
            &::after {
                top: 50%;
                transform-origin: center;
                transform: rotate(-45deg);
                background: white;
            }
            & span {
                opacity: 0;
            }
        }
    }
}
