.text-orange {
  color: rgb(252, 116, 74);
}

.bg-orange {
  background: rgb(252, 116, 74);
}

.accent-orange {
  accent-color: rgb(252, 116, 74);
}

.border-orange {
  border-color: rgb(252, 116, 74);
}

.hover-bg-orange:hover {
  background: rgb(252, 116, 74);
}

.hover-text-orange:hover {
  color: rgb(252, 116, 74);
}

.text-yellow {
  color: #f8c520;
}

.bg-yellow {
  background: #f8c520;
}

.accent-yellow {
  accent-color: #f8c520;
}

.border-yellow {
  border-color: #f8c520;
}

.hover-bg-yellow:hover {
  background: #f8c520;
}

.hover-text-yellow:hover {
  color: #f8c520;
}

.text-sky-blue {
  color: #66bdd8;
}

.bg-sky-blue {
  background: #66bdd8;
}

.accent-sky-blue {
  accent-color: #66bdd8;
}

.border-sky-blue {
  border-color: #66bdd8;
}

.hover-bg-sky-blue:hover {
  background: #66bdd8;
}

.hover-text-sky-blue:hover {
  color: #66bdd8;
}

.text-body-white {
  color: #f1f1f1;
}

.bg-body-white {
  background: #f1f1f1;
}

.accent-body-white {
  accent-color: #f1f1f1;
}

.border-body-white {
  border-color: #f1f1f1;
}

.hover-bg-body-white:hover {
  background: #f1f1f1;
}

.hover-text-body-white:hover {
  color: #f1f1f1;
}

.text-gray {
  color: #8a8a8a;
}

.bg-gray {
  background: #8a8a8a;
}

.accent-gray {
  accent-color: #8a8a8a;
}

.border-gray {
  border-color: #8a8a8a;
}

.hover-bg-gray:hover {
  background: #8a8a8a;
}

.hover-text-gray:hover {
  color: #8a8a8a;
}

.text-light-gray {
  color: #e6e6e6;
}

.bg-light-gray {
  background: #e6e6e6;
}

.accent-light-gray {
  accent-color: #e6e6e6;
}

.border-light-gray {
  border-color: #e6e6e6;
}

.hover-bg-light-gray:hover {
  background: #e6e6e6;
}

.hover-text-light-gray:hover {
  color: #e6e6e6;
}

.text-smoke {
  color: #cdcdcd;
}

.bg-smoke {
  background: #cdcdcd;
}

.accent-smoke {
  accent-color: #cdcdcd;
}

.border-smoke {
  border-color: #cdcdcd;
}

.hover-bg-smoke:hover {
  background: #cdcdcd;
}

.hover-text-smoke:hover {
  color: #cdcdcd;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-base, .btn-light-gray, .btn-stroke-orange, .btn-orange, button[type=submit] {
  width: 100%;
  height: 2.75rem;
  border-radius: 9999px;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.btn-orange, button[type=submit] {
  background-color: rgb(252, 116, 74);
  color: #fff;
}
.btn-orange:hover, button[type=submit]:hover {
  background-color: rgba(235, 59, 4, 0.8);
}

.btn-stroke-orange {
  border: 1px solid rgb(252, 116, 74);
  color: rgb(252, 116, 74);
}
.btn-stroke-orange:hover {
  background-color: rgb(252, 116, 74);
  color: #fff;
}
.btn-stroke-orange:hover img {
  filter: brightness(100);
}

.btn-light-gray {
  background-color: #e6e6e6;
  color: #8a8a8a;
}

.text-link {
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.sm-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.woocommerce h1 {
  display: block;
  font-size: 2rem;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.woocommerce h2 {
  display: block;
  font-size: 1.5rem;
  margin-top: 0.83rem;
  margin-bottom: 0.83rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.woocommerce h3 {
  display: block;
  font-size: 1.17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.woocommerce h4 {
  display: block;
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.woocommerce h5 {
  display: block;
  font-size: 0.83rem;
  margin-top: 1.67rem;
  margin-bottom: 1.67rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.woocommerce h6 {
  display: block;
  font-size: 0.67rem;
  margin-top: 2.33rem;
  margin-bottom: 2.33rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.select2-container * {
  scroll-behavior: auto !important;
}

.select2-container .select2-selection--single {
  padding: 0.625rem 0 !important;
  height: auto !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.woocommerce-checkout-review-order-table {
  font-size: 1rem !important;
}
.woocommerce-checkout-review-order-table .cart_item td {
  padding-bottom: 0.5rem !important;
}
.woocommerce-checkout-review-order-table .cart_item .product-image a {
  display: block !important;
  aspect-ratio: 1;
  position: relative;
  padding: 0 !important;
}
.woocommerce-checkout-review-order-table .cart_item .product-image a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.woocommerce-checkout-review-order-table .cart_item .product-info {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  display: flex !important;
  width: 100% !important;
  padding-left: 0.75rem !important;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.woocommerce-checkout-review-order-table .cart_item .product-info .inner h4 {
  display: flex;
  flex-direction: column;
}
.woocommerce-checkout-review-order-table .cart_item .product-info .inner h4 a {
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.woocommerce-checkout #payment {
  background: transparent !important;
}

button#place_order {
  width: 100% !important;
  margin: 1rem auto 0 auto;
  max-width: 100% !important;
}

.woocommerce-checkout #payment div.payment_box .bank-label, .woocommerce-checkout #payment div.payment_box .mobile-banking-label {
  margin-left: 0.625rem !important;
}
.woocommerce-checkout #payment div.payment_box #omise_phone_number_default_field {
  width: -moz-fit-content;
  width: fit-content;
  display: flex !important;
  align-items: center;
  flex-direction: row !important;
}

.woocommerce-checkout #payment div.payment_box::before {
  display: none !important;
}

.woocommerce table.woocommerce-checkout-review-order-table {
  background: #fff;
  padding: 0.75rem;
  border: none !important;
}

.woocommerce table.shop_table tfoot td {
  text-align: right;
}

.woocommerce table.shop_table tfoot tr:first-of-type td,
.woocommerce table.shop_table tfoot tr:first-of-type th {
  padding-top: 1.25rem !important;
}

.woocommerce table.shop_table tbody tr:last-of-type td,
.woocommerce table.shop_table tbody tr:last-of-type th,
.woocommerce table.shop_table tfoot tr:last-of-type td,
.woocommerce table.shop_table tfoot tr:last-of-type th {
  border-top: none !important;
}

.form-row:not(.create-account) {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 0.25rem;
}
.form-row:not(.create-account) abbr {
  color: black;
}
.form-row:not(.create-account) label {
  font-size: 0.875rem;
}
.form-row:not(.create-account) .show-password-button {
  position: absolute;
  bottom: 0.75rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.form-row:not(.create-account) .show-password-button::after {
  position: absolute;
  content: url('data:image/svg+xml;utf8,<svg stroke="black" fill="black" stroke-width="0" viewBox="0 0 16 16" height="1.5rem" width="1.25rem" xmlns="http://www.w3.org/2000/svg"><path d="M7.99993 6.00316C9.47266 6.00316 10.6666 7.19708 10.6666 8.66981C10.6666 10.1426 9.47266 11.3365 7.99993 11.3365C6.52715 11.3365 5.33324 10.1426 5.33324 8.66981C5.33324 7.19708 6.52715 6.00316 7.99993 6.00316ZM7.99993 7.00315C7.07946 7.00315 6.33324 7.74935 6.33324 8.66981C6.33324 9.59028 7.07946 10.3365 7.99993 10.3365C8.9204 10.3365 9.6666 9.59028 9.6666 8.66981C9.6666 7.74935 8.9204 7.00315 7.99993 7.00315ZM7.99993 3.66675C11.0756 3.66675 13.7307 5.76675 14.4673 8.70968C14.5344 8.97755 14.3716 9.24908 14.1037 9.31615C13.8358 9.38315 13.5643 9.22041 13.4973 8.95248C12.8713 6.45205 10.6141 4.66675 7.99993 4.66675C5.38454 4.66675 3.12664 6.45359 2.50182 8.95555C2.43491 9.22341 2.16348 9.38635 1.89557 9.31948C1.62766 9.25255 1.46471 8.98115 1.53162 8.71321C2.26701 5.76856 4.9229 3.66675 7.99993 3.66675Z"></path></svg>');
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.form-row:not(.create-account):has(input:required, select:required) label {
  position: relative;
}
.form-row:not(.create-account):has(input:required, select:required) label::after {
  content: " *";
}
.form-row:not(.create-account) input, .form-row:not(.create-account) select, .form-row:not(.create-account) textarea {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  width: 100%;
  transition: border-color 0.25s, box-shadow 0.25s;
}
.form-row:not(.create-account) input:hover, .form-row:not(.create-account) select:hover, .form-row:not(.create-account) textarea:hover {
  border-color: rgb(252, 116, 74);
}
.form-row:not(.create-account) input:is(select), .form-row:not(.create-account) select:is(select), .form-row:not(.create-account) textarea:is(select) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z' /><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 99.75%;
  background-position-y: 50%;
}
.form-row:not(.create-account) input:focus, .form-row:not(.create-account) select:focus, .form-row:not(.create-account) textarea:focus {
  border-color: rgb(252, 116, 74);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.form-row:not(.create-account) input[type=text] ~ .show-password-button, .form-row:not(.create-account) select[type=text] ~ .show-password-button, .form-row:not(.create-account) textarea[type=text] ~ .show-password-button {
  opacity: 0.25;
}
.form-row:not(.create-account) input::-webkit-outer-spin-button, .form-row:not(.create-account) input::-webkit-inner-spin-button, .form-row:not(.create-account) select::-webkit-outer-spin-button, .form-row:not(.create-account) select::-webkit-inner-spin-button, .form-row:not(.create-account) textarea::-webkit-outer-spin-button, .form-row:not(.create-account) textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.woocommerce-checkout #payment div.payment_box {
  background: #efefef !important;
}

#omise-form-truemoney .form-row {
  width: 100%;
}
#omise-form-truemoney .form-row input {
  width: -moz-fit-content;
  width: fit-content;
}

div.payment_box {
  margin-top: 0 !important;
}

.woocommerce-order-overview,
.wc-bacs-bank-details {
  margin-bottom: 3.5rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.woocommerce-order-overview li,
.wc-bacs-bank-details li {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1.5rem;
  background: #fff;
  border-radius: 0.25rem;
}

.woocommerce-table--order-details {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.woocommerce-table--order-details th, .woocommerce-table--order-details td {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-align: left !important;
}
.woocommerce-table--order-details tr {
  background: #eee;
}

.woocommerce-customer-details address {
  width: 100%;
  background: #eee;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.woocommerce-order-details {
  margin-bottom: 3rem;
}

p.woocommerce-notice {
  margin-bottom: 1rem;
}

form.woocommerce-ResetPassword .form-row {
  margin-top: 1.75rem;
}
form.woocommerce-ResetPassword .form-row input {
  max-width: 480px;
}

button[type=submit] {
  margin-top: 0.75rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.woocommerce-MyAccount-navigation {
  flex: 0.3;
  min-width: 17.5rem;
  font-weight: medium;
  background: #eeeeee;
  padding: 1rem;
  border-radius: 1rem;
  height: -moz-fit-content;
  height: fit-content;
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link a {
  width: 100%;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link.is-active a {
  background: rgb(252, 116, 74);
  color: #fff;
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link:where(.woocommerce-MyAccount-navigation-link--dashboard,
.woocommerce-MyAccount-navigation-link--downloads) {
  display: none;
}

.woocommerce-MyAccount-content {
  flex: 1;
}

table.woocommerce-orders-table {
  background: transparent;
  width: 100%;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
table.woocommerce-orders-table tr:nth-child(2n-1) {
  background: #eee;
}
table.woocommerce-orders-table td, table.woocommerce-orders-table th {
  padding: 0.65rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
table.woocommerce-orders-table .woocommerce-orders-table__cell-order-actions a {
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  background: rgb(252, 116, 74);
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: white;
}

.woocommerce-Addresses {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.25rem;
}
.woocommerce-Addresses .woocommerce-Address {
  padding: 1rem;
  flex: 1 1 360px;
  background: #eee;
  border-radius: 0.75rem;
}
.woocommerce-Addresses .woocommerce-Address .woocommerce-Address-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.woocommerce-Addresses .woocommerce-Address .woocommerce-Address-title h3 {
  font-size: 1.375rem;
  font-weight: 400 !important;
}
.woocommerce-Addresses .woocommerce-Address .woocommerce-Address-title a {
  color: rgb(252, 116, 74);
}

.woocommerce-EditAccountForm p {
  margin-bottom: 1rem !important;
}
.woocommerce-EditAccountForm .woocommerce-form-row--first, .woocommerce-EditAccountForm .woocommerce-form-row--last {
  width: 100%;
}
@media (min-width: 1024px) {
  .woocommerce-EditAccountForm .woocommerce-form-row--first, .woocommerce-EditAccountForm .woocommerce-form-row--last {
    display: inline-block;
    max-width: calc(50% - 0.5rem);
  }
}
@media (min-width: 1024px) {
  .woocommerce-EditAccountForm .woocommerce-form-row--first {
    margin-right: 0.5rem;
  }
}

legend {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem 0;
}/*# sourceMappingURL=woo.css.map */