@import "./theme";
// @import "./splide";
@import "../components/navbar";

* {
    touch-action: manipulation;
    font-family: "IBM Plex Sans Thai", sans-serif;
    box-sizing: border-box;
    outline: none;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

html {
    font-size: clamp(14px, 1vw, 16px);
    scroll-padding-top: 12rem;
}

body {
    background: $body-white;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    position: relative;
    padding-right: 1rem;
    @media (max-width: 1480px) {
        & {
            max-width: 1182px;
        }
    }
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(1);
}

::-webkit-scrollbar {
    width: 14px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hide-scroll-bar::-webkit-scrollbar {
    height: 0;
    width: 0;
}

// .collapsible {
//     display: grid;
//     text-align: left;
//     justify-items: start;

//     & > button,
//     & > button > i {
//         transition:
//             color 0.25s,
//             background-color 0.25s,
//             transform 0.25s;
//     }
//     & > button:hover {
//         color: $orange !important;
//     }
//     & > button * {
//         pointer-events: none;
//     }
//     .collapsible-content-wrapper {
//         display: grid;
//         transition:
//             grid-template-rows 0.25s,
//             margin-top 0.25s;
//     }
//     &.active {
//         & > button {
//             color: $orange;
//         }
//         .collapsible-content-wrapper {
//             grid-template-rows: 1fr;
//             margin-top: 1.5rem;
//             margin-bottom: 1.5rem;
//         }
//         i {
//             transform: rotate(180deg);
//         }
//     }
//     &:not(.active) {
//         .collapsible-content-wrapper {
//             grid-template-rows: 0fr;
//         }
//     }
//     .collapsible-content {
//         overflow: hidden;
//         display: flex;
//         flex-direction: column;
//         a,
//         button {
//             padding-left: 1.25rem;
//             overflow: hidden;
//             text-overflow: ellipsis;
//             white-space: nowrap;
//         }
//     }
// }

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 0.6s forwards !important;
}

main#main-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    animation: fade-in 0.5s forwards;
    @media (max-width: 1023px) {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
}

.heading-text {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2.875rem;
    margin-bottom: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}
