@import "./theme";
@import "../components/navbar";

* {
    touch-action: manipulation;
    font-family: "IBM Plex Sans Thai", sans-serif;
    box-sizing: border-box;
    outline: none;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

html {
    font-size: clamp(14px, 1vw, 16px);
    scroll-padding-top: 12rem;
}

body {
    background: $body-white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.075s;
    &:has(main.dark-mode) {
        background: #222;
        & footer {
            color: white;
        }
    }
}

@mixin container($maxWidth, $breakpoint, $breakpointMaxWidth) {
    width: 100%;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    position: relative;
    padding-right: 1rem;

    @media (max-width: #{$breakpoint}) {
        & {
            max-width: $breakpointMaxWidth;
        }
    }
}

.main-container {
    @include container(1280px, 1366px, 1182px);
}

.main-container-sm {
    @include container(960px, 980px, 768px);
}

.main-container-xs {
    @include container(768px, 0px, 768px);
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(1);
}

::-webkit-scrollbar {
    width: 14px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hide-scroll-bar::-webkit-scrollbar {
    height: 0;
    width: 0;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 0.6s forwards !important;
}

main#main-content {
    flex: 1 1 0;
    padding-top: 6rem;
    padding-bottom: 3rem;
    animation: fade-in 0.5s forwards;
    @media (max-width: 1023px) {
        padding-top: 5rem;
    }

    &.dark-mode {
        color: #fff;
        & .reader-menu .icon-img {
            filter: invert(1);
        }
        & .reader-menu,
        & #text-adjust {
            background: #000;
        }
        & #text-adjust button div {
            background: #fff;
        }
    }
}
