@import "./colors";

$colors: (
    "orange": $orange,
    "yellow": $yellow,
    "sky-blue": $sky-blue,
    "body-white": $body-white,
    "gray": $gray,
    "light-gray": $light-gray,
    "smoke": $smoke
);

@each $key, $value in $colors {
    .text-#{$key} {
        color: $value;
    }
    .bg-#{$key} {
        background: $value;
    }
    .accent-#{$key} {
        accent-color: $value;
    }
    .border-#{$key} {
        border-color: $value;
    }
    .hover-bg-#{$key}:hover {
        background: $value;
    }
    .hover-text-#{$key}:hover {
        color: $value;
    }
}

@for $i from 1 through 5 {
    .line-clamp-#{$i} {
        display: -webkit-box;
        -webkit-line-clamp: $i;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.btn-base {
    width: 100%;
    height: 2.75rem;
    border-radius: 9999px;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.btn-orange {
    @extend .btn-base;
    background-color: $orange;
    color: #fff;
    &:hover {
        background-color: rgba(darken($orange, 17%), 80%);
    }
}

.btn-stroke-orange {
    @extend .btn-base;
    border: 1px solid $orange;
    color: $orange;

    &:hover {
        background-color: $orange;
        color: #fff;
        & img {
            filter: brightness(100);
        }
    }
}

.btn-light-gray {
    @extend .btn-base;
    background-color: $light-gray;
    color: $gray;
}

.text-link {
    align-items: center;
    width: fit-content;
    column-gap: 0.5rem;
}

.sm-scrollbar::-webkit-scrollbar {
    width: 6px;
}
